body {
  font-family: Georgia, serif;
  background-color: #A1D6E2;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

.register-container, .login-container {
  display: block;
  text-align: center;
  padding: 40px;
  background-color:#66bed4;
  width: 350px;
  margin: auto;
  margin-top: 50px;
  border-radius: 7px;
}

.register-container input, .login-container input {
  width: 90%;
  padding: 8px;
  margin: 8px;
  border: none;
  border-radius: 5px;
}

.books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
}

.book-available {
  color: green;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
}

.book-unavailable {
  color: red;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
}

.book-unknown {
  color: rgb(146, 105, 1);
  font-family: monospace;
  font-size: large;
  font-weight: bold;
}

.book-image {
  height: 250px;
  width: 200px;
  border: 1px solid;
}

.search {
  display: flex;
  justify-content: center;
  padding: 5px;
  color:#022d32;
}

.all-books {
  display:table;
  background-color: #A9D6E5;
  border: 2px solid;
  margin: 3px;
  padding: 3px;
  text-align: center;
  width:14%
}

.all-books:hover {
  background-color: #4bb5d8;
}

.account-container {
  display:block;
  text-align: center;
}


.reservations-container {
  display:inline-block;
  background-color: #A9D6E5;
  justify-content: center;
  margin: 3px;
  padding: 20px;
  border: 2px solid;
  gap: 5px;
  width: 15%;
  height: 385px;
}

.single-book-container {
  display:block;
  margin: 3px;
  padding: 3px;
  text-align: center;
}

.single-book {
  display:inline-block;
  background-color: #A9D6E5;
  border: 1px solid;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width:25%
}


.navbar {
  background: linear-gradient(#1995AD, black,#1995AD);
  padding: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 1px;
}

.nav-link {
  color: white;
  padding: 10px;
}

.nav-link:hover {
  color: yellow;
}

h1 {
  display:block;
  text-align: center;
  }

  button {
    background-color: #19747E;
    color: white;
    border: 2px solid #07373c;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
  }

  button:hover {
    background-color: #1d99d7;
    border-color: #022d32;
  }

  .logout-button {
    background-color: #19747E;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
  }

  .login-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .register-button {
    padding: 10px 20px;
    font-size: 16px;
  }

