body {
  font-family: Georgia, serif;
  background-color: #f2eebd;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */


.books {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
}

.book-available {
  color: green;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
}

.book-unavailable {
  color: red;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
}

.book-unknown {
  color: darkgoldenrod;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
}

.book-image {
  height: 250px;
  width: 200px;
  border: 1px solid;
}

.search {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: red;
}

.all-books {
  display:table;
  border: 2px solid;
  margin: 3px;
  padding: 3px;
  text-align: center;
  width:14%
}

.account-container {
  display:block;
  text-align: center;
}

.reservations-container {
  display:inline-block;
  justify-content: center;
  margin: 3px;
  padding: 20px;
  border: 2px solid;
  gap: 5px;
  width: 15%;
  height: 385px;
}